*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Flutter project ignores
psau_parking_system/build/
psau_parking_system/android/.gradle/
psau_parking_system/.dart_tool/
psau_parking_system/.pub-cache/
psau_parking_system/.pub/
psau_parking_system/.flutter-plugins
psau_parking_system/.flutter-plugins-dependencies
